@import "base";

.hero {
  text-align: center;
  padding-bottom: 50px;

  @media screen and (min-width: 799px) {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  &__title {
    color: $primary-color-alt;
    margin: 0;
    font-size: 2.4rem;
    line-height: 1.3;

    @media screen and (min-width: 799px) {
      font-size: 2.5rem;
      max-width: 70%;
    }
  }

  &__subtitle {
    max-width: 90%;
    margin: 1em auto 2rem;

    @media screen and (min-width: 799px) {
      max-width: 60%;
      margin-left: 0;
    }
  }
}

.section {
  color: $neutral-color-1;
  line-height: 1.8;

  @media screen and (min-width: 799px) {
    padding-bottom: 50px;
  }

  &__title {
    color: $primary-color-alt;
    font-size: 2rem;
    line-height: 1.5;
  }

  &__subtitle {
    font-size: 0.9rem;
    max-width: 90%;
    margin: 1em auto 2em;

    @media screen and (min-width: 799px) {
      max-width: 60%;
      margin-left: 0;
    }
  }
}

.features {
  text-align: center;
  padding-left: 0;
  padding-right: 0;

  @media screen and (min-width: 799px) {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  &__intro {
    padding: 0 20px;

    @media screen and (min-width: 376px) {
      padding: 0 30px;
    }

    @media screen and (min-width: 1240px) {
      padding: 0;
    }

    .section__title {
      @media screen and (min-width: 799px) {
        width: 80%;
      }
    }
    .section__subtitle {
      @media screen and (min-width: 799px) {
        max-width: 80%;
      }
    }
  }

  &__items {
    padding: 20px 0px;

    padding-left: 20px;

    @media screen and (min-width: 799px) {
      padding: 20px;
    }
  }

  &__item {
    padding: 0.6rem 0;
    text-align: left;
    font-size: 0.9rem;

    &__title {
      display: flex;
      align-items: center;
      background-color: rgba($primary-color, 0.1);
      border-radius: 200px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-weight: bold;
      color: $primary-color-alt;

      @media screen and (min-width: 799px) {
        background-color: transparent;
      }

      .title__count {
        padding: 0.3rem 1.2rem;
        background-color: $primary-color;
        color: #fff;
        border-radius: 200px;
      }

      .title {
        margin-left: 1rem;
      }
    }

    &__details {
      @media screen and (min-width: 799px) {
        margin-left: calc(10.5% + 2px);
      }
    }
  }
}

.testimonial__section {
  text-align: center;
  padding: 0 20px;

  @media screen and (min-width: 376px) {
    padding: 0;
  }
}

.testimonials {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }

  &__indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    @media screen and (min-width: 799px) {
      display: none;
    }
  }
  &__indicator {
    width: 7px;
    height: 7px;
    margin: 0 2px;
    border-radius: 50%;
    border: 1px solid $primary-color;
    transition: all 0.3s;

    &-active {
      background-color: $primary-color;
    }
  }
}

.testimonial {
  position: relative;
  scroll-snap-align: start;
  min-width: calc(100% - 60px);
  border-radius: 5px;
  background-color: $neutral-color-4;
  font-size: 0.9rem;
  padding: 30px;
  margin: 60px 30px 30px;

  :hover {
    cursor: all-scroll;
  }

  @media screen and (min-width: 799px) {
    margin: 60px 15px 30px;
    min-width: calc(100% / 3);
    // min-width: auto;
    // flex: 1;
  }

  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }

  &__author {
    color: $primary-color-alt;
    font-weight: bold;
    margin-top: 30px;
  }

  &__img {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.banner {
  background-color: $primary-color;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("/images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  // background-position: 50% bottom;

  @media screen and (min-width: 799px) {
    background-image: url("/images/bg-simplify-section-desktop.svg");
    background-position: top 100% right -20%;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    @media screen and (min-width: 799px) {
      text-align: left;
      flex-direction: row;
    }
  }

  .section__title {
    max-width: 70%;
    color: #fff;

    @media screen and (min-width: 799px) {
      max-width: 35%;
    }
  }

  &__get-started__btn {
    background-color: #fff;
    color: $primary-color;
    font-size: 0.8rem;
    box-shadow: none;

    &:hover {
      background-color: #fff;
      box-shadow: 0 7px 15px rgba($neutral-color-1, 0.3);
    }
  }
}
