// Typography - Font size: 16px
$font-stack: "Be Vietnam", sans-serif;

// Layout
$mobile-width: 375px;
$desktop-width: 1440px;

// Primary Colors
$primary-color: hsl(12, 88%, 59%); // Bright Red
$primary-color-alt: hsl(228, 39%, 23%); // Dark Blue

// Neutral Colors
$neutral-color-1: hsl(227, 12%, 61%); // Dark Grayish Blue
$neutral-color-2: hsl(233, 12%, 13%); // Very Dark Blue
$neutral-color-3: hsl(13, 100%, 96%); // Very Pale Red
$neutral-color-4: hsl(0, 0%, 98%); // Very Light Gray
