@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
@import "base";

body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("/images/bg-tablet-pattern.svg"),
    url("/images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  // background-size: cover;
  background-size: calc(100% - 50px);
  // background-size: 150%;
  // background-size: auto;
  background-position: top -1% right -50%, top 18% right -350%;
  // background-position: top -5% right 0%, top 15% right -1000%;
  // background-position: top -5% left -5%, top 15% left -50%;

  @media screen and (min-width: 400px) {
    background-position: top -2% right -60%, top 18% right -350%;
  }

  @media screen and (min-width: 600px) {
    background-size: 80%;
    background-position: top -2% right -60%, top 18% right -350%;
  }

  @media screen and (min-width: 799px) {
    background-size: 50%;
    background-position: bottom 35% left -60%, top -15% right -25%;
  }

  @media screen and (min-width: 1920px) {
    background-size: auto;
    background-position: bottom 35% left -40%, top -15% right -1%;
  }
}

.attribution {
  margin-top: 40px;
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

.container {
  max-width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: 376px) {
    max-width: 1200px;
    padding: 0 30px;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 9;

  @media screen and (min-width: 376px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__menu-icon {
    // display: block;
    @media screen and (min-width: 857px) {
      display: none;
    }
  }

  &__nav {
    display: none;

    @media screen and (min-width: 857px) {
      display: block;
    }

    span {
      padding: 30px 0;
      .nav__item {
        text-decoration: none;
        margin: 0 20px;
        color: $primary-color-alt;

        &:hover {
          color: $neutral-color-1;
        }
      }
    }

    &-mobile {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      overflow: hidden;
      background-image: linear-gradient(
        to bottom,
        transparent,
        rgba(0, 0, 0, 0.5)
      );
      display: flex;
      justify-content: center;
      align-items: flex-start;
      transition: all 0.6s;

      @media screen and (min-width: 857px) {
        display: none;
      }

      span {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 30px 0;
        width: 90%;
        border-radius: 5px;

        @media screen and (min-width: 857px) {
          flex-direction: row;
        }

        .nav__item {
          text-decoration: none;
          padding: 10px;
          font-weight: bold;
          color: $primary-color-alt;
        }
      }
    }
  }

  .get-started__btn {
    display: none;

    @media screen and (min-width: 857px) {
      display: block;
    }
  }
}

.get-started__btn {
  color: #fff;
  background-color: $primary-color;
  border-radius: 200px;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  box-shadow: 0 7px 5px $neutral-color-3;
  font-weight: bold;
  font-size: 0.9rem;

  &:hover {
    background-color: lighten($primary-color, 20%);
  }
}

.footer {
  color: $neutral-color-1;
  background-color: $neutral-color-2;
  padding: 50px 0 30px;
  font-size: 0.8rem;
  text-align: center;

  @media screen and (min-width: 799px) {
    text-align: left;
    padding: 50px 30px 30px;
    position: relative;
  }

  .container {
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 799px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__logo {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 40px;

    @media screen and (min-width: 799px) {
      margin-bottom: 0px;
      flex: 0 0 20%;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
    }

    .social__icons {
      margin-bottom: 40px;
      width: 100%;
      display: flex;
      justify-content: space-around;

      @media screen and (min-width: 799px) {
        justify-content: space-between;
        margin-bottom: 0px;
        // width: 70%;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 45px 0;

    @media screen and (min-width: 799px) {
      width: 40%;
      padding: 0;
    }

    &__container {
      padding: 0 40px;
      display: flex;
      flex-direction: column;
    }
  }

  &__link {
    margin: 5px 0;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }

  &__newsletter {
    font-size: 0.7rem;

    &.form {
      width: 100%;
      position: relative;

      display: flex;
      justify-content: space-between;

      flex: 0 0 20%;
    }

    .error {
      color: $primary-color;
      position: absolute;
      bottom: -1.2rem;
      left: 1.2rem;
      font-size: 0.6rem;
    }

    .form-input {
      flex: 1;
      padding: 0.7rem 1.5rem;
      border-radius: 200px;
      border: 1px solid transparent;
      font-size: inherit;
      outline: none;
      color: $neutral-color-2;

      &:focus,
      &:invalid {
        border: 1px solid $primary-color;
      }

      &::placeholder {
        color: $neutral-color-1;
      }
    }

    .btn {
      margin-left: 0.5rem;
      padding: 0.7rem 1.5rem;
      text-transform: uppercase;
      font-size: inherit;
      background-color: $primary-color;
      color: #fff;

      &:hover {
        background-color: lighten($primary-color, 20%);
      }
    }
  }

  .copyright {
    font-size: 0.7rem;

    @media screen and (min-width: 799px) {
      margin-top: -20px;
      margin-left: auto;
    }
  }
}

.btn {
  border-radius: 200px;
  border: 0;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
